body {
    background-color:white;
    color:rgb(9, 48, 94);

}

header, nav, footer {
    text-align: center;
}

footer {
    font-size: 0.8em;
    color:rgb(44, 95, 4)
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;  
 }

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    color:rgb(9, 48, 94);
}

nav a:hover {
    border-bottom: 2px orange solid;
    color:orange;
    font-size: 2em;
    transition: .9s;
}