body {
    background-color:white;
    color:rgb(9, 48, 94);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

header, nav, footer {
    text-align: center;
}

footer {
    font-size: 0.8em;
    color:rgb(44, 95, 4)
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;  
 }

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    font-weight: bold;
    text-decoration: none;
    color:rgb(9, 48, 94);
}

nav a:hover {
    border-bottom: 2px orange solid;
    color:orange;
    font-size: 2em;
    transition: .9s;
}

table {
    margin: 0px auto;
}

td {
    padding-right: 10px;
    font-size: 1.3em;
}

td strong {
    color: rgb(85, 77, 156);
}

#table-header {
    background-color:rgb(20, 175, 136);
} 

.table-row {
    background-color:rgb(158, 201, 190);
}

ul {
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.interests {
    color: rgba(109, 71, 247, 0.863);
}