body {
background-color:rgb(86, 159, 172);
font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: normal;
}

#main, header {
background-color: rgb(233, 215, 215);
color: rgb(11, 5, 37);
padding: 15px;
border-radius: 8px;
width: fit-content;
margin: 20px auto;
}

button {
margin-top: 10px;
}