body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: #0b1d3a;
    color: white;
    margin: 20px;
}

h1, h2 {
    color: gold;
}

form {
    background-color: #13294b;
    padding: 20px;
    border-radius: 8px;
}

input, select {
    padding: 8px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    background-color: gold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: orange;
}

#error {
    color: red;
}

#matches {
    margin-top: 20px;
}

.match-card {
    background-color: #1e3a5f;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.match-card h3 {
    color: gold;
}

.match-card p {
    margin: 5px;
}

.details-btn {
    margin-top: 10px;
    padding: 8px;
    background-color: white;
    color: #0b1d3a;
    border-radius: 5px;
    cursor: pointer;
}


.details-btn:hover {
    background-color: gold;
}

.details {
    margin-top: 15px;
    padding: 10px;
    background-color: #0b1d3a;
    border-radius: 6px;
}

.details h4 {
    color: gold;
}

.details p {
    margin: 5px 0;
}